<% include ../partials/header %>
<h2>Edit Country Information</h2>
<form action="/countries/<%=country.id%>?_method=put" method="POST">
	<div>
		<label for="country">Country Name
			<input type="text" name="country[name]" value="<%= country.name %>" autofocus>
		</label>
	</div>
	<div>
		<label for="pop">Population
			<input type="text" name="country[pop]" value="<%= country.pop %>">
		</label>
	</div>
	<div>
		<label for="capital">Capital
			<input type="text" name="country[capital]" value="<%= country.capital %>">
		</label>
	</div>
	<div>
		<label for="flag">Flag (please post jpg)
			<input type="text" name="country[flag]" value="<%=country.flag%>">
		</label>
	</div>
	<div>
		<label for="cities">Cities
			<input type="text" name="country[cities]" value="<%= country.cities %>">
		</label>
	</div>
<input type="submit" value="Confirm Edit">
</form>
<a href="/countries">Return to Main Page</a>

<% include ../partials/footer %>