<% include ../partials/header %>
<div class="table">
	<table>
	<thead>
		<th>Country</th>
		<th>Capital</th>
		<th>Population</th>
		<th>Flag</th>
		<th>Edit?</th>
		<th>Delete?</th>
	</thead>
	<tbody>

		<% countries.forEach(function(country){ %>
		<tr>
			<td><a href="/countries/<%= country.id %>"><%= country.name %></a></td>
			<td><%= country.capital %></td>
			<td><%= country.pop %></td>
			<td class="opaque"><img width="200px" src="<%= country.flag %>"></td>
			<td class="opaque"><a class="opaque" href="/countries/<%= country.id %>/edit"><button>Edit</button></a></td>
			<td class="opaque"><form action="/countries/<%= country.id %>?_method=DELETE" method="POST"><button>Delete</button></form></td>
		</tr>
		<% }); %>
	</tbody>
</table>
</div>
<a class="opaque" href="countries/new"><button>Add New Country</button></a>

<a class="opaque" href="logout"><button>Logout</button></a>
<% include ../partials/footer %>