<% include partials/header %>
<table>
	<thead>
		<th>Country</th>
		<th>Capital</th>
		<th>Population</th>
		<th>Edit?</th>
		<th>Delete?</th>
	</thead>
	<tbody>

		<% countries.forEach(function(country){ %>
		<tr>
			<td><a href="/countries/<%= country.id %>"><%= country.name %></a></td>
			<td><%= country.capital %></td>
			<td><%= country.pop %></td>
			<td><a href="/countries/<%= country.id %>/edit"><button>Edit</button></a></td>
			<td><form action="/countries/<%= country.id %>?_method=DELETE" method="POST"><button>Delete</button></form></td>
		</tr>
		<% }); %>
	</tbody>
</table>
<a href="countries/new"><button>Add New Country</button></a>

<% include partials/footer %>